<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - Ecommerce Shop</title>
    <link rel="stylesheet" href="{% static 'css/c.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
<body>
    <header>
        <div class="logo">
            <h1>Ecommerce Shop</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/main">Products</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/login">Profile </a></li>
            </ul>
        </nav>
    </header>

    <h2 style="text-align: center;">All Product</h2>
    <div class="product-grid">
        {% for i in view %}
        <div class="product-card">
            <img src="media/{{i.image}}"
                alt="Product 1">
            <h3>{{i.product}}</h3>
            <p>${{i.price}}</p>
            <a href="/product?id={{i.id}}" class="btn">View Product</a>
        </div>
        {% endfor %}
    </div>

</body>
</html>