<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Page</title>
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
</head>
<body>
    <div class="container">
        <h2>Checkout</h2>
        
        <div class="order-summary">
            <h3>Order Summary</h3>
            <p>Items: <span id="total-items">{{ total_items }}</span></p>
            <p>Total Price: $ <span id="total-price">{{ total_price|floatformat:2 }}</span></p>
        </div>
        
        <form>
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" id="name" placeholder="Enter your full name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" placeholder="Enter your phone number" required>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea id="address" placeholder="Enter your address" required></textarea>
            </div>  
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" placeholder="Enter your city" required>
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" id="state" placeholder="Enter your state" required>
            </div>
            <div class="form-group">
                <label for="zipcode">PIN Code</label>
                <input type="text" id="zipcode" placeholder="Enter your pin code" required>
            </div>
            <div class="form-group">
                <label for="payment-method">Payment Method</label>
                <select id="payment-method" required>
                    <option value="credit-card">Credit Card</option>
                    <option value="debit-card">Debit Card</option>
                    <option value="paypal">PayPal</option>
                    <option value="cash-on-delivery" selected >Cash on Delivery</option>
                </select>
            </div>
            <button type="submit" class="checkout-btn">Confirm Order</button>
        </form>
    </div>
</body>
</html>